/*
colorblind safe color palette from colorbrewer2.org.
#92c5de - light blue
#ca0020 - red
#f7f7f7 - off white
*/


body {
  background-color: #92c5de;
  color: #ca0020;
  text-align: center;
  margin: 0;
}

h1 {
  color:#f7f7f7;
  padding: 5px;
  margin: 0;
}
#body-container{
  background-color: #f7f7f7;
  max-width: 1000px;
  margin: auto;
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  overflow: hidden;
}
#header {
  background-color: #ca0020
}

#block1{
  display: inline-block;
  width:69%;
  text-align: left;

}

#profile-picture {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0px;
}
#welcome-text{
  display: inline-block;
  padding-top: 25px;
  font-size: 25px;
}
#research-interests {
  display: inline-block;
  text-align: left;
  font-size: 25px;
}
#area_calculator {
  display: inline-block;
  text-align: left;
  font-size: 25px;
}

}
#footer {

  width: 1000px;
  text-align: center;
  margin-top: 20px;

}

#webmap-reviews{
  text-align: left;
  font-size: 25px;
  position: relative;
}

#display_result{
  display: inline-block;

}
